.quiz-block {

    .answers-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        .answer-wrapper {
            border: 1px solid #96969B;
            padding: 16px;
            display: flex;
            gap: 4px;
            flex-direction: column;
            border-radius: 4px;
            cursor: pointer;
            &.correct-answer {
                background-color: #E5F5F1;
                border-color: #009B77;
            }

            &.incorrect-answer {
                border-color: #EC4242;
            }
    
            .answer-label {
               font-size: 12px;
               color: #96969B;
               cursor: inherit;
            }
    
            .answer {
                font-size: 16px;
                line-height: 24px;
                color: black;
                cursor: inherit;
            }
        }

        &.answered {
            .answer-wrapper {
                cursor: not-allowed;
            }
        }
    }
    
}