.knowledge-cards {
	padding-top: 0.8rem;
	padding-bottom: 4rem;
	position: relative;
	z-index: 2;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 100%;
		background-color: $white;
		z-index: -1;
	}
	// .knowledge-cards__container

	&__container {
	}

	// .knowledge-cards__title

	&__title {
		margin-bottom: 3.2rem;
		@media (min-width: $tabletSmallP1) {
			margin-bottom: 4.8rem;
		}

		h2 {
			@extend .h4;
			letter-spacing: -0.02em;
			font-weight: 700;
			font-family: $primary-font;
		}
	}

	// .knowledge-cards__grid

	&__grid {
		display: grid;
		gap: 1.6rem;

		@media (min-width: $tabletSmallP1) {
			grid-template-columns: 1fr 1fr;
		}
	}

	// .knowledge-cards__card

	&__card {
		display: block;
		border-radius: 0.4rem;
		position: relative;
		background-color: $secondary;
		padding: 3.2rem;
		box-sizing: border-box;
		color: $white;
		top: 0;
		left: 0;
		transition:
			0.5s cubic-bezier(0.15, 0, 0, 1) all,
			0s 0.5s opacity;

		&:hover {
			@media (min-width: $mobileP1) {
				top: -10px;
				left: -10px;
			}

			&:before {
				@media (min-width: $mobileP1) {
					top: 10px;
					left: 10px;
					opacity: 1;
					transition:
						0.5s cubic-bezier(0.15, 0, 0, 1) all,
						0s opacity;
				}
			}

			.arrow {
				@media (min-width: $mobileP1) {
					@media (min-width: $mobileP1) {
						min-width: 4rem;
						max-width: 4rem;
						width: 4rem;
					}
				}

				svg {
					&:first-child {
						@media (min-width: $mobileP1) {
							right: 0px;
						}
					}

					&:last-child {
						@media (min-width: $mobileP1) {
							width: 4rem;
						}
					}
				}
			}
		}

		h3 {
			@extend .h5;
			font-weight: 500;
			color: $light;
		}

		h3,
		p {
			max-width: 28rem;
		}

		p {
			color: #fafafa;
			margin-top: 1.6rem;
		}

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $light;
			border-radius: 4px;
			z-index: -1;
			opacity: 0;
			transition:
				0.5s cubic-bezier(0.15, 0, 0, 1) all,
				0s 0.5s opacity;
		}

		.arrow {
			margin-top: 4rem;
			height: 1.6rem;
			min-width: 2.4rem;
			max-width: 2.4rem;
			overflow: hidden;
			filter: brightness(0) invert(1);

			@media (min-width: $mobileP1) {
				min-width: 3.4rem;
				max-width: 3.4rem;
				width: 3.4rem;
				height: 2.4rem;
				overflow: hidden;
				margin-top: 3.2rem;
			}

			svg {
				min-width: 3rem;
				height: auto;

				@media (min-width: $mobileP1) {
					min-width: 4rem;
				}

				&:first-child {
					min-width: unset;
					right: 0px;
					width: 1rem;
					transform: translateY(-50%);

					@media (min-width: $mobileP1) {
						width: 1.2rem;
					}
				}
			}
		}
	}

	// .knowledge-cards__card--blue-bg

	&__card--blue-bg {
		background-color: #0c2340;
	}

	// .knowledge-cards__card--green-bg

	&__card--green-bg {
		background-color: #6cc24a;
	}
}
