.text-wrapper {
	position: relative;
	z-index: 2;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		height: 100%;
		background-color: $white;
		z-index: -1;
	}
	// .text-wrapper__container

	&__container {
		padding-block: 4rem;

		@media (min-width: $tabletSmallP1) {
			padding-block: 8rem;
		}

		border-top: 1px solid rgba(#666666, 0.3);
		border-bottom: 1px solid rgba(#666666, 0.3);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul,
		ol {
			max-width: 60rem;
			width: 100%;
		}
		h2 {
			@extend .h4;
			font-weight: 500;
			line-height: 1.1;
			letter-spacing: -0.02em;
		}

		p {
			color: $primary;
		}
	}

	// .text-wrapper__btn

	&__btn {
		margin-top: 2.4rem;
		.btn span {
			padding-inline: 2.4rem;
		}
	}
}
