.citation {
	//.citation__box
	&__box {
		position: relative;
		cursor: pointer;
		background-color: $cornYellowTertinary;
		border: 1px solid $cornYellowSecondary;
		border-radius: 0.4rem;
		padding: 1.6rem 7.2rem 1.6rem 2.4rem;
		margin-top: 2.4rem;
		p {
			font-size: 1.4rem;
			line-height: 1.5;
			color: $black;
			word-break: break-word;
			& + p {
				margin-top: 1.2rem;
			}
		}
		&.copied .citation__copy {
			img,
			svg {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	//.citation__copy
	&__copy {
		position: absolute;
		right: 2.4rem;
		top: 1.6rem;
		width: 2.4rem;
		cursor: pointer;
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 2.4rem;
			height: 2.4rem;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 13L11 17.5L19 6' stroke='%2367676B' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% auto;
			opacity: 0;
			transition: 170ms linear;
		}
		img,
		svg {
			width: 100%;
			height: auto;
			transition: 170ms linear;
		}
	}
}
